body{
	font-size: 16px;
	color: #f324ff;
	background-color: #61122f;
	font-family: Oxygen, sans-serif;
}
a {
	text-decoration: none;
}

/*HEADER*/
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
#logo-img{
	background: url("../images/restaurant-logo_large.png") no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
	float: left;
	margin-bottom: 0px;
}
.navbar-brand{
	margin-top: 25px;
}
.navbar-brand h1{/*restorant name*/
	font-family: 'Lora', sans-serif;
	color: #557c3e;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0px;
	line-height: .75;
}
.navbar-brand a, .navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p{/*kosher cert*/
	color: #000;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: -3px	
}
.navbar-brand p span{/*star-k*/
	vertical-align: middle;
}
#nav-list{
	right: 0px;
	margin-top: 10px;
	margin-right: 10px;
}
#nav-list a{
	color: #951c49;
	text-align : center;
	text-decoration: none;
}
#nav-list a:hover{
	background: #e7e7e7;
}
#nav-list a span {
	font-size: 1.5em;
}
#phone{
	margin-top: 5px;
}
#phone a{
	text-align: right;
	padding-bottom: 0;
}
#phone div{
	color: #557c3e;
	margin-top: -10px;

}
.navbar-header button.navbar-toggle{
	border: 1px solid #f6b319;
	clear: both;
	margin-top: -35px;
}
.active{
	background-color: rgba(85, 124, 62, .3);
	
}
/*END HEADER*/

/*HOME PAGE*/
.container .jumbotron{
	box-shadow: 0 0 50px #3f0c1f;
	border: 2px solid #3f0c1f;
	margin-top : 5px;
	margin-bottom: 8px;
}
/*-->TILES*/
#menu-tile, #specials-tile, #map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
	background: url("../images/menu-tile.jpg") no-repeat;
	background-position: center;
}
#specials-tile{
	background: url("../images/specials-tile.jpg") no-repeat;
	background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .6;

}
/*END HOME*/

/*MENU CATEGORIES PAGE*/
.category-tile{
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
	
}
.category-tile span{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	opacity: .8;
}
.category-tile:hover{
	box-shadow: 0 1px 5px 1px #ccc;
}
#menu-categories-title+div{
	margin-bottom: 50px;
}
/*END MENU CATEGORIES PAGE*/

/*SINGLE CATEGORY PAGE*/
.menu-item-tile{
	margin-bottom: 25px;
}
.menu-item-tile hr{
	width: 80%;
	margin: auto;
}
.menu-item-tile .menu-item-price{
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}
.menu-item-tile .menu-item-price span{
	font-size: .6em;
}
.menu-item-photo{
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;
}
.menu-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #557c3e;
	text-align: center;
}
.menu-item-description{
	padding-right: 30px;
	padding-left: 20px;
}
h3.menu-item-title{
	margin: 0 0 10px;
}
.menu-item-details{
	font-size: .9em;
	font-style: italic;
}
/*END SINGLE CATEGORY PAGE*/
/*FOOTER*/
.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	color: #fff;
}
.panel-footer div.row{
	margin-bottom: 35px;
}
#hours, #address{
	line-height: 2;
}
#hours>span, #address >span{
	font-size: 1.2em;
	
}
#address p{
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8em;
}
#testimonials{
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: rgba(255, 104, 104, 0.1);
	border: 1px dashed #fff;
	color: #f6b319;
}
#testimonials p:nth-child(2){
	margin-top: 25px;
}
/*END FOOTER*/


/*MEDIA QUERIES*/
/****************** Large devices only *****************/
@media (min-width: 992px){
	.container .jumbotron{
		background: url('../images/jumbotron_1200.jpg') no-repeat;
		height: 675px;
	}
}

/****************** Medium devices only *****************/
@media (min-width: 768px) and (max-width: 991px){
	/*Header*/
	#logo-img{
		background : url('../images/restaurant-logo_medium.png') no-repeat;
		width: 100px;
		height: 100px;
	} 

	.navbar-brand h1{
		font-size: 1.6em;
		margin-bottom: -12px;
	}

	.navbar-brand p span{
		font-size: 1em;
		vertical-align: middle;
	}

	/*End Header*/

	/*Home Page*/
	.container .jumbotron{
		background: url('../images/jumbotron_992.jpg') no-repeat;
		height: 558px;
		padding: 0;
	}
}

/****************** Small devices only *****************/
@media (min-width: 576px) and (max-width: 767px){
	/*Home Page*/
	.container .jumbotron{
		background: url("../images/jumbotron_768.jpg") no-repeat;
		height: 432px;
		
	}
	/*End Home Page*/
}

/****************** X-Small devices only *****************/
@media (max-width: 575px){
	/*Header*/
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1{
		padding-top: 10px;
		font-size: 5vw;
	}
	.navbar-brand p{
		font-size: .6em;
		margin-top: 12px;
	}

	.navbar-brand p img {
		height: 15px;
	}
	#navbarSupportedContent a{
		font-size: 1.2em;
	}
	#navbarSupportedContent a span{
		font-size: 1em;
		margin-right: 5px;
	}

	#call-btn >a{
	background-color: #f6b319;
	margin:  5px 20px;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 15px;
	color: #61122f;
	font-size: 1.5em;
	display: block;
	}
	#xs-deliver{
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
		}
	/*END HEADER*/
	
	/*HOME*/  
	.container .jumbotron{
		margin-top: 30px;
		padding: 0;
	}
	#menu-tile, #specials-tile{
		width: 360px;
		margin: 0 auto 10px;
		}
	/*END HOME*/	

	/*CATEGORY PAGE*/
	.col-xs-12{
		width: 100%;
	}
	/*END CATEGORY PAGE*/

	/*SINGLE CATEGORY PAGE*/
	.menu-item-photo{
		margin-right: auto;
	}
	.menu-item-tile .menu-item-price{
		text-align: center;
		margin-bottom: 10px;	
	}

	.menu-item-description{
		text-align: center;
	}

	/*END SINGLE CATEGORY PAGE*/
	/*FOOTER*/
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}

	.panel-footer section:nth-child(3){
		margin-bottom: 0;
	}

	.panel-footer section hr {
		width: 50%;
		margin: auto;
	}

	#testimonials {
		width : 94%;
		margin: auto;
	}
	/*END FOOTER*/
}

/****************** Super X-Small devices only *****************/
@media (max-width :377px){
	/*HEADER*/
	#menu-tile, #specials-tile{
	width: 280px;
	margin: 0 auto 15px;
	}
	.navbar-brand h1 {
	padding-top: 0px;
	font-size: 5.6vw;
	}
	/*END HEADER*/


	
}
